/*------------------------------------------------------------------------------
                            footerTop
--------------------------------------------------------------------------------*/
#footerTop{
    padding: 40px 0 50px 0;
}


/*-------------------------------------------------------------------------------
                            footerBottom
--------------------------------------------------------------------------------*/
#footerBottom{
    background-color: #f1f1f1;
    padding: 40px 0;
    background: url(./img/footer-tail.gif) center top repeat-x #fff;
    
}
.copy{
    font-size: $fs-small;
}

.phone-numb {
    display: inline-block;
    font-size: 42px;
    line-height: 1.2em;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    letter-spacing: -1px;
    margin-top: -4px;
}

.list-services {
    padding: 0;
}

.list-services li {
    float: left;
    padding: 0 0 0 20px;
}

.list-services li:first-child {
    padding: 0;
}

.list-services li a {
    display: block;
    width: 60px;
    height: 45px;
    background: url(./img/social-icons.png) left top no-repeat;
}

.list-services li a.item-2 {
    background-position: -80px 0;
}

.list-services li a.item-3 {
    background-position: -160px 0;
}

.list-services li a.item-4 {
    background-position: -240px 0;
}

