/*------------------------------------------------------------------------------
                                    Head menu
--------------------------------------------------------------------------------*/
.row-1 {
    border-bottom: 3px rgba(72, 8, 0, 0.5) solid;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#bababa+0,ffffff+51,b5b5b5+100&0.8+0,0.8+100 */
    /* FF3.6-15 */
    /* Chrome10-25,Safari5.1-6 */
    background: -webkit-linear-gradient(top, rgba(186, 186, 186, 0.8) 0%, rgba(255, 255, 255, 0.8) 51%, rgba(181, 181, 181, 0.6) 100%);
    background: linear-gradient(to bottom, rgba(186, 186, 186, 0.8) 0%, rgba(255, 255, 255, 0.8) 51%, rgba(181, 181, 181, 0.6) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ccbababa', endColorstr='#ccb5b5b5',GradientType=0 );
    /* IE6-9 */
}

.menu {
    padding: 0;
    width: 100%;
    overflow: hidden;
    margin-bottom: 0;
}

.menu li {
    float: left;
    position: relative;
    width: $menuPunktsWidth;
}

.menu li a {
    font-family: $TopMenufontFamily;
    display: block;
    font-size: $fs-menuTop;
    line-height: 1.238em;
    padding: 21px 0 24px 0;
    color: #262626;
    text-align: center;
    text-transform: uppercase;
    border-right: 1px #D0D0D0 solid;
    letter-spacing: -1px;
}

.menu li a:hover {
    color: $yellowOrange;
}

.menu li a.active {
    color: #fff;
    background-color: $darkGrinRed;
}

.row-2 {
    min-height: 101px;
    background: url(./img/row2-tail.gif) left top repeat-x #fff;
}

/***** slogan *****/
.logoBox {
    padding: 15px 0 0 0;
    position: relative;
    font-weight: normal;
    text-transform: uppercase;
    margin-left: -4px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    span {
        display: inline-block;
        font-size: 28px;
        line-height: 1.2em;
        color: #949494;
        letter-spacing: -1px;
        padding: 29px 0 0 4px;
    }
}



a.logo {
    display: inline-block;
    font-size: 60px;
    line-height: 1.2em;
    color: #262626;
    cursor: pointer;
    letter-spacing: -3px;
    &:hover{
        text-decoration: none;
    }
    strong {
        color: $yellowOrange;
        font-weight: normal;
    }
}

.slogan {
  color: #949494;
  font-style: italic;
  display: table;
  position: relative;
  left: 15px;
  top: -10px;
  text-transform: capitalize;
}

/***** search form *****/
#search-form {
    width:100%; 
    padding: 35px 0px 0 37px;
    fieldset {
        position: relative;
        width: 100%;
        display: block;
        overflow: hidden;
    }
    .search-field {
        width: inherit;
        height: 29px;
        background: url(./img/search-input-tail.gif) 0 0 repeat-x;
        border: 1px solid #d7d7d7;
    }

    input {
        width: inherit;
        font-size: 13px;
        line-height: 1.23em;
        padding: 6px 30px 7px 10px;
        font-family: Arial, Helvetica, sans-serif;
        background: none;
        border: none;
        margin: 0;
        outline: none;
    }

    .search-button {
        display: block;
        width: 17px;
        height: 16px;
        text-indent: -5000px;
        background: url(./img/search-icon.gif) 0 0 no-repeat;
        position: absolute;
        right: 8px;
        top: 7px;
    }
}

